form {
    border: solid 3px orange;
    background-color: lightgray;
}
p {
    font-weight: bold;
}

#department {
    font-size: .9em;
    margin-bottom: 20px;
    padding: 6px;
}

#submit {
    color: white;
    background-color: rgb(62, 106, 202);
    border: solid 3px rgb(52, 164, 201);
    padding: 10px;
    border-radius: 5px;
}